source/web/modules/custom/custom/checkbook_widget_redesign/checkbook_business_layer/checkbook_domain/config/xsd/sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue Apr 19 2016 13:05:16 GMT-0400 (EDT) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="statements">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="statement" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="param" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string"></xs:attribute>
                                    <xs:attribute name="required" type="xs:string"></xs:attribute>
                                    <xs:attribute name="type" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="sql" type="xs:string">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="where" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="exp">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="exp" maxOccurs="unbounded" type="xs:string">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="op" type="xs:string"></xs:attribute>
                                                                        <xs:attribute name="dbField" type="xs:string"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="op" type="xs:string"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string"></xs:attribute>
                        <xs:attribute name="datasource" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
